* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Dosis', sans-serif;
  font-weight:100;
  color: #ffd81f;
  background-color:#161619;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

div::after,
header::after,
nav::after,
section::after,
article::after,
footer::after {
  content: '';
  display:block;
  clear:both;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ---------- HEADER ---------- */
header {
  width:100%;
}

.stars {
  background-image: url(images/stars2.png);
  background-size: cover;
  background-position: center;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 214px;
}

.logo h1 {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 2rem;
  padding: 1.5em 0;
}

@media (max-width: 480px) {
  .logo img {
    display:block;
    margin: 0 auto;
    height:130px;
  }

  .logo h1 {
    font-size:1.6rem;
  }
}

/* ---------- BUTTONS ---------- */

#sandwich, #x, #strelica {
  border-style: none;
  font-size:3rem;
  background: transparent;
  cursor:pointer;
  padding:1.5em;
  color:#ffd81f;
  position: fixed;
  z-index:998;
  right:0;
}

#strelica:focus, #sandwich:focus, #x:focus, .prev:focus, .next:focus {
  outline: none;
}

#strelica {
  bottom:0;
  right:0;
  display:none;
  z-index:1000;
}

#x {
  z-index:1000;
  position: absolute;
  top:0;
}

.next,.prev {
  background: transparent;
  border-style:none;
  color:#ffd81f;
  font-size:4rem;
  cursor:pointer;
  align-self:center;
  margin:.7em;
}

/* ---------- NAVIGACIJA ---------- */

.gl-meni {
  text-align:left;
  /*background: rgba(0,0,0, 0.3); */
  background:#0e0d10;
  position:fixed;
  z-index:999;
  height:100vh;
  width:28rem;
  right:-28rem;
}

.gl-meni ul {
  padding:2em;
}

.gl-meni li {
  padding:1em;
}

.gl-meni a {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Dosis', sans-serif;
}

.gl-meni li:last-child {
  margin-top:5rem;
}

.gl-meni a:hover, .gl-meni a:focus {
  color:#ffd81f;
}

.log-reg {
  background:transparent;
  border:2px solid #ffe81f;
  padding:1em;
  cursor: pointer;
  color:#ffd81f;
  font-size:2rem;
  font-weight:900;
  font-family: 'Inconsolata', monospace;
}

.log-reg:hover, .log-reg:focus {
  background:#ffd81f;
  color:black;
}

/* ---------- GLUMCI ---------- */

.actors {
  margin: 5em 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position:relative;
}

.actor {
  color:#ffd81f;
  margin:3em;
  text-align:center;
}

.actor img {
  width:100px;
  height:100px;
  border-radius: 100%;
  margin-bottom: 1em;
}

.actor h2 {
  margin-bottom: .2em;
  font-size:2rem;
}

.actor p {
  font-size:1.5rem;
  color:#c5a305;
}

/* ---------- NEWS ---------- */
.news-wrapper {
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  width:100%;
  position:relative;
  margin: 5em 0;
}

.heading {
  position:absolute;
  top:-8.5rem;
  font-size: 2.7rem;
  background-color:#161619;
  padding:.4em 1em;
  align-self:center;
}

hr {
  min-width: 60%;
  width:40%;
  position:relative;
  top:-0.7rem;
  border-color:#ffd81f;
  background: #ffd81f;
}

.news-wrapper img {
  width:200px;
}

.left {
  flex: 0 0 40vw;
}

.left h2 {
  font-size:3rem;
}

.left article {
  width:50em;
}

.left img {
  width:100%;
  min-width: 30em;
}

.left p {
  font-size:1.6rem;
}

.right {
  flex: 0 0 40vw;
}

.news {
  width: 20em;
}

/* ---------- FOOTER ---------- */
footer {
  width:100%;
  background-color:#0e0d10;
  min-height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .wrapper {
  min-width:100%;
  background: url("images/stormtrooper.png") center center no-repeat;
}

footer a {
  color:#ffd81f;
  font-size:3rem;
  margin-right: .8em;
}

#cto {
  text-align:center;
  margin:15rem;
  opacity:0.7;
}
