* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Dosis', sans-serif;
  font-weight:100;
  color: #ffd81f;
  background-color:#161619;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

div::after,
header::after,
nav::after,
section::after,
article::after,
footer::after {
  content: '';
  display:block;
  clear:both;
}

a {
  text-decoration: none;
  color:#ffd81f;
}

li {
  list-style-type: none;
}

/* ---------- BUTTONS ---------- */
#sandwich, #x, #strelica {
  border-style: none;
  font-size:3rem;
  background: transparent;
  cursor:pointer;
  padding:1.5em;
  color:#ffd81f;
  position: fixed;
  z-index:998;
  right:0;
}

#strelica:focus, #sandwich:focus, #x:focus, .prev:focus, .next:focus {
  outline: none;
}

#strelica {
  bottom:0;
  right:0;
  display:none;
  z-index:1000;
}

#x {
  z-index:1000;
  position: absolute;
  top:0;
}

.next,.prev {
  background: transparent;
  border-style:none;
  color:#ffd81f;
  font-size:4rem;
  cursor:pointer;
  align-self:center;
  margin:.7em;
}

/* ---------- HEADER ---------- */
header {
  width:100%;
  margin-bottom: 2em;
}

.stars {
  background-image: url(images/stars2.png);
  background-size: cover;
  background-position: center;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 214px;
}

.logo h1 {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 2rem;
  padding: 1.5em 0;
}

@media (max-width: 480px) {
  .logo img {
    display:block;
    margin: 0 auto;
    height:130px;
  }

  .logo h1 {
    font-size:1.6rem;
  }
}

/* ---------- NAVIGATION ---------- */
.gl-meni {
  text-align:left;
  /*background: rgba(0,0,0, 0.3); */
  background:#0e0d10;
  position:fixed;
  z-index:999;
  height:100vh;
  width:28rem;
  right:-28rem;
}

.gl-meni ul {
  padding:2em;
}

.gl-meni li {
  padding:1em;
}

.gl-meni a {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Dosis', sans-serif;
}

.gl-meni li:last-child {
  margin-top:5rem;
}

.gl-meni a:hover, .gl-meni a:focus {
  color:#ffd81f;
}

.log-reg {
  background:transparent;
  border:2px solid #ffe81f;
  padding:1em;
  cursor: pointer;
  color:#ffd81f;
  font-size:2rem;
  font-weight:900;
  font-family: 'Inconsolata', monospace;
}

.log-reg:hover, .log-reg:focus {
  background:#ffd81f;
  color:black;
}

/* ---------- ACTORS ---------- */

.actors {
  margin: 5em 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position:relative;
}

.actor {
  color:#ffd81f;
  margin:3em;
  text-align:center;
}

.actor img {
  width:100px;
  height:100px;
  border-radius: 100%;
  margin-bottom: 1em;
}

.actor h2 {
  margin-bottom: .2em;
  font-size:2rem;
}

.actor p {
  font-size:1.5rem;
  color:#c5a305;
}

/* ---------- NEWS ---------- */
.news-container {
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  position:relative;
  margin: 5em 0;
}

.news-container img {
  width:100%;
}

.news-container article {
  width:30em;
  margin-bottom:2em;
}

.news-container article h2 {
  margin: .5em 0;
  font-size:2rem;
}

.left {
  margin-right:5em;
}

.left h2 {
  font-size:3rem !important;
}

.left p {
  font-size:1.7rem;
}

.heading {
  position:absolute;
  top:-8rem;
  font-size: 2.7rem;
  background-color:#161619;
  padding:.4em 1em;
  align-self:center;
}

hr {
  min-width: 60%;
  width:40%;
  position:relative;
  border-color:#ffd81f;
  background: #ffd81f;
}

@media (max-width: 320px) {
  .actor img {
    width: 80px;
    height: 80px;
  }

  .actor {
    font-size: .5rem;
    margin:0;
  }
}

@media (max-width: 650px) {
  .left {
    margin-right:0;
  }

  .news-wrapper {
    display: flex;
    flex-flow:column wrap;
  }

  .left h2 {
    font-size:2.7rem;
  }

  .left p {
    font-size:1.7rem;
  }
}

/* ---------- FOOTER ---------- */
footer {
  width:100%;
  background-color:#0e0d10;
  min-height: 25rem;
}

footer .wrapper {
  min-width:100%;
  background: url("images/stormtrooper.png") center center no-repeat;
}

footer a {
  color:#ffd81f;
  font-size:3rem;
  margin-right: .8em;
}

#cto {
  text-align:center;
  margin:13rem;
  opacity:0.7;
}

#disclaimer {
  width: 30rem;
  margin: 3rem 0 auto;
  font-size: 1.3rem;
}

/* ---------- GALLERY ---------- */
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.stars-extended {
  min-height: 100vh !important;
  height: auto !important;
}

.gallery a {
  color: none;
  outline: none;
}

.gallery img {
  margin: 2.5rem;
}

/* ---------- NEWS - page ---------- */
.news-wrapper {
  max-width: 100rem;
  padding: 5em;
  text-align: justify;
}

.news-header {
  font-size: 3.7rem;
  margin: .5em 0;
}

.news-wrapper img:not(:first-child) {
  margin: 3em 0;
}

.news-parag strong {
  display: block;
  color: #FFD81F;
  margin: .5em 0;
}

.news-parag {
  font-family: 'Raleway';
  color: #fbfbfb;
  font-size: 2rem;
  line-height: 1.7em;
}

/*----------------  MOVIES  ------------------ */
#movies {
  width:100rem;
  margin:0 auto;
}

.desc {
  width:75%;
  float:left;
  padding:3em;
}

.movie img {
  float:right;
  height:100%;
  margin:1.5em;
}

.movie {
  background: #161619;
}

.movie h1 {
  font-size:3rem;
  padding-bottom: .7em;
}

.movie p {
  font-size: 1.5rem;
}

#read-more {
  border:none;
  background:#FFD81F;
  padding: 1em;
  margin:2em 20em;
  font-weight:700;
  cursor:pointer;
}

/* ------------- MODAL -------------- */
.login-modal {
  position: fixed;
  display: flex;
  width: 80rem;
  min-height: 40rem;
  background:#0e0d10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3em 1.2em;
  z-index:1000;
}

.login-modal h1 {
  text-align: center;
  font-size: 3.4rem;
}

.modal-col {
  flex: 1 0;
  margin: 0 2em;
}

.login-modal label {
  display: block;
  font-size: 2rem;
  margin: .65em 0;
}

.modal-col button {
  display: block;
  width: 30%;
  min-width: 10rem;
  margin: 2rem auto;
  border:none;
  background:#FFD81F;
  padding:1em;
  font-weight: 700;
}

.login-modal input {
  display: block;
  width: 100%;
  padding: .5em;
  border: 1px solid #FFD81F;
}

#close {
  font-size:4rem;
  cursor:pointer;
  position:absolute;
  right:38px;
  top:10px;
}

.login-modal span, .input {
  font-size: 1.35rem;
}

#validacija {
  background:white;

}
